# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Optional: log files
*.log

# Optional: temporary files
*.tmp
*.bak
*.swp
